<template>
    <div>
        <b-button @click="addTag()" type="button" variant="primary" class="add-tag">+</b-button>

        <b-form-group class="tag-builder">

            <div v-for="(input, index) in inputs">

                <b-form-input
                        type="text"
                        name="tags_titles[]"
                        v-model="input.one"
                        required
                        placeholder="Title"
                        class="form-control"
                ></b-form-input>
                <b-button type="button" @click="deleteTag(index)" variant="danger">X</b-button>

            </div>

        </b-form-group>
    </div>
</template>

<script>
  export default {
    name: "TagBuilder",
    data: function () {
      return {
        inputs: []
      }
    },
    methods: {
      addTag: function () {
        this.inputs.push({
          one: ''
        })
      },
      deleteTag(index) {
        this.inputs.splice(index, 1)
      }
    }
  }
</script>

<style scoped>
    .tag-builder, .tag-builder button, .add-tag {
        margin-bottom: 20px;
    }

    .tag-builder input {
        width: 80%;
        float: left;
        display: inline-block;
    }
</style>