<template>
    <div>
        <!--<b-button @click="addTag()" type="button" variant="primary" class="add-tag">+</b-button>-->
        <b-form-group class="tag-builder">

            <div v-for="(input, index) in inputs">

                <b-form-input
                        type="text"
                        name="tags_titles[]"
                        v-model="inputs[index]['title']"
                        required
                        placeholder="Title"
                        class="form-control"
                ></b-form-input>
                <input type="hidden" name="tags_ids[]" :value="inputs[index]['id']">
                <b-button type="button" @click="deleteTag(index)" variant="danger">X</b-button>

            </div>

            <b-form-select
                    v-model="selected"
                    :options="options"
                    @change.native="addTagTitle(selected)"
                    multiple
                    :select-size="6">
            </b-form-select>

        </b-form-group>
    </div>
</template>

<script>
    export default {
        name: "TagBuilder",
        props: [
            'tagsOfPost',
            'allTags',
        ],
        data: function () {
            return {
                inputs: this.getTagsTitles(this.tagsOfPost),
                selected: [],
                options:
                    this.getOpinionTags(this.allTags)
                // { value: 'a', text: 'This is First option' },
            }
        },
        methods: {
            addTag: function () {
                this.inputs.push({
                    one: ''
                })
            },

            // delete tag by index
            deleteTag(index) {
                let deletedTag = this.inputs.splice(index, 1)
                //console.log(deletedTag[0]['id'])
                let existTag = this.checkExistsTag(deletedTag[0]['id'], this.options)

                // add tag if tag not in selects
                if (!existTag) {
                    this.options.push({value: deletedTag[0]['id'], text: deletedTag[0]['title']})
                }
            },

            // get tag titles for post's tags
            getTagsTitles: function (tags) {
                let tagsForm = [];
                tags.forEach(function (element) {
                    tagsForm.push(element);
                });

                return tagsForm;
            },

            getTagById: function (id) {
                return this.allTags.find(function (element) {
                    return element['id'] === id
                });
            },

            // add tag to post
            addTagTitle: function (selected) {

                let $this = this;
                selected.forEach(function (id) {
                    let tag = $this.getTagById(id)
                    let existTag = $this.checkExistsTag(id, $this.inputs)

                    // if does not exist push to inputs
                    if (!existTag) {
                        $this.inputs.push(tag);
                    }
                });

            },

            // check exists tag in array
            checkExistsTag: function(id, search) {
                return search.find(function (element) {
                    if (element['id'] === undefined) {
                        return element['value'] === id
                    }
                    return element['id'] === id
                });
            },

            // get all tags except post's
            getOpinionTags: function (tags) {

                let opinionTags = [];
                tags.forEach(function (element) {
                    opinionTags.push({value: element['id'], text: element['title']});
                });

                return opinionTags;

            }
        },
    }
</script>

<style scoped>
    .tag-builder, .tag-builder button, .add-tag {
        margin-bottom: 20px;
    }

    .tag-builder input {
        width: 80%;
        float: left;
        display: inline-block;
    }
</style>


